@charset "UTF-8";

// Variables
@import "{}/imports/ui/stylesheets/variables";

// Reset
@import "{}/imports/ui/stylesheets/normalize";

// Components
@import "{}/imports/ui/stylesheets/global";
@import "{}/imports/ui/stylesheets/videoplayer/videoplayer";
