/*** Colors ***/
$primary-color: #008cba; // bondi blue
$secondary-color: #cf515f; // chestnut rose
$text-color: #333333; // mine shaft
$text-color-light: #ffffff; // white

$background-color: #F4F5F8; // athens grey

//
$primary-dark: transparentize($primary-color, 0.2);
$primary-medium: transparentize($primary-color, 0.5);
$primary-light: transparentize($primary-color, 0.8);

/*** Fonts ***/
$primary-font: 'Lato', sans-serif;

/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";
